#index {
    width: 100%;
    height: 100%;
}

.index {
    height: calc(100% - 110px);
    width: 100%;
    background: url(../assets/index_background.jpg) no-repeat center;
    background-size: cover;
}

#index_ba {
    height: 110px;
    text-align: center;
    background: url(../assets/index_background2.jpg) no-repeat center;
    color: white;
    padding: 0 40px;
    overflow: hidden;
}

.index_head {
    position: relative;
    color: white;
    left: 0;
    top: 150px;
    font-size: 36px;
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    z-index: 10;
}

.index_title_pic1 {
    position: absolute;
    top: 120px;
    z-index: 11;
    font-size: 20px;
}

.index_title_pic2 {
    position: absolute;
    right: 0px;
    top: 230px;
    z-index: 11;
    font-size: 20px;
}